table{
    padding: 10px;
    border-collapse: collapse
}
th{
    background-color: #FB5F4A;
    color: #FFFFFF;
    border-style: none;
    
}
td{
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
}
button,.subm,.del{
    padding: 5px;
    color: #FFFFFF;
}

.add{
    background-color: #2DB73B;
}
.filter{
    padding: 5px;
    background-color: #FB5F4A;
    color: white;
}
.ee{
        margin: auto;
    width: 50%;
}
